.footer {
  background: #0056b3;
  color: #f1f1f1;
  text-align: center;
}

.footer-logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
}

.footer-logo .text-accent {
  color: #ffd700;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffd700;
}

.text-muted {
  color: #ccc !important;
}
